# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
label-it
bin/*
dist/*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Editors
.vscode

# Dev configs
*.yaml

# Test config
!internal/config/config_test.yaml
!internal/config/config_test_env.yaml

# Misc
*docs.md

# Docs
!label-it.example.yaml

# Builds
.build
